version: '3'
services:
  ec2-exporter:
    image: laurentrichard/ec2-exporter:latest
    # build: .
    ports:
      - 9599:9599 
    environment:
      AWS_ACCESS_KEY_ID: CHANGE_ME
      AWS_SECRET_ACCESS_KEY: CHANGE_ME
